<div class="bg-white p-4 rounded-lg shadow-md transition-transform transform hover:scale-105">
    <img src="{{ van.defaultImage }}" alt="{{ van.model }}"
         class="w-full h-40 object-cover mb-4 rounded-lg">
    <div class="flex justify-between items-center mb-2">
        <h2 class="text-lg font-semibold text-gray-800">{{ van.model }}</h2>
        <span class="text-primary text-lg">
            <i class="fas fa-bus"></i> {{ van.brand }}
        </span>
    </div>
    <p class="text-gray-600 text-sm mb-4">
        <span class="text-lg font-bold text-primary">{{ van.price }}</span>
        <span class="text-lg font-bold text-primary">€</span>
    </p>
    <button class="bg-primary border border-transparent hover:bg-transparent hover:border-primary
               text-white hover:text-primary font-semibold py-2 px-6 rounded-full w-3/4 mx-auto flex items-center justify-center space-x-2">
        <i class="fas fa-eye"></i>
        <span>Voir</span>
    </button>
</div>
